@page
@model EMT.Pages.HomePageModel
@{
	ViewData["Title"] = "Home Page";
}

<p>Welcome to the Epic Minecraft Things website!</p>
<p>Epic Minecraft Things, or EMT for short, is a minecraft server with lots of minigames.</p>
<p>We have a variety of minigames for you to enjoy, which you can see on the Minigames page</p>

<button>
	<a href="/Minigames">Go to Minigames</a>
</button>

<button>
	<a href="/Staff">Go to Staff</a>
</button>

<button>
	<a href="/AboutUs">About us</a>
</button>

<div class="server-information">
	<p>Server IP: epicgams258.aternos.me</p>
	<p>Alternate IP: epicgams258.aternos.me:47425</p>
	<p>Minecraft Version: Java 1.21.0</p>
</div>

